div.home-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
div.home-container > div.img-logo{
    width: 40vw;
    height: 40vh;
    
}
#home .ui-icon { 
    background:  url("./img/logo.svg") 50% 50% no-repeat; 
    }
    #home .ui-icon:active { 
    background:  url("./img/logo.svg") 50% 50% no-repeat; 
    }
    #home .ui-icon:hover { 
    background:  url("./img/logo.svg") 50% 50% no-repeat; 
    }